.body{
 background-color: aquamarine;
}

section{

}
.section1 {
  position: relative;
  overflow: hidden;
   height: 110vh;
   padding-left: 5vw;
   padding-right: 5vw;
   
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

.videoText {
  z-index: 1;
}
.section1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 30px; /* adjust fade height */
  background: linear-gradient(to bottom, rgba(255,255,255,0), #ffffff);
  z-index: 1;
}



.navbar li  {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 4px 12px;
  transition: color 0.3s ease, letter-spacing 0.3s ease;
  font-weight: 800;
}
.logoAnimation {
   animation: logoAnimation infinite 2s ease-in-out
  }
.navbar li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.4s ease;
}

.navbar li:hover {
  color: black;
  letter-spacing: 1px;
}

.navbar li:hover::after {
  width: 100%;
}

.videoText{
  width: 50vw;
  font-size: 3vw;
}
.videoText h1{
  font-size: 6vw;
}
.videobtn{
  background-color: transparent;
  color: white;
  font-size: 2vw;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 10px
}
.secondcarouselInner{
  height: 30vh;
  
}
.carouselitem h3{
  font-size: 5vh;
}
.carouselitem p{
  font-size: 4vh;
}
.preHeroSec{
  height: 90vh;
  margin-top: 5vh;
}
.preHeroText h1{
  width: 80%;
  font-size: 5vw;
}
.preHeroText p{
  font-size: 3vw;
}
.preHeroLongText h1{
  width: 80%;
  font-size: 4vw; 
}
.preHeroLongText p{
  font-size: 2.5vw;
}
.preHeroImg{
  width: 100%;
}
.forsection3{
  margin: 3vh;
  height: 70vh;
}

.beginYourJourneyHeading{
  font-size: 7vw;
}
.ourValuesHeading{
  font-size: 7vw;
}


.hover-card {
  transition: transform 0.3s ease,
   box-shadow 0.3s ease;
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.hover-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 1);
}



.oneByOne{
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6e3e6;
  border-radius: 10px;
  margin-top: 10vh;
}
.thirdCarouselInner{
  height: 30vh;
}

.reviewsCarousel{
  width: 50%;
}
.counting{
  width: 50%;
}
@media (max-width:500px) {
  
  .body{
    
  }
  .carousel-inner{
    font-size: 3vw;
  }
  .carousel-item h3{
  font-size: 3vh;
}
.thirdCarouselInner{
  height: 20vh;
}

.carousel-item p{
  font-size: 2.5vh;
}
.section1{
    height: 70vh;
    padding-right: px;
    padding-left: ;
  }
  .videoText{
  width: 70vw;
  font-size: 6vw;
}
.videoText h1{
  font-size: 9vw;
}
.videobtn{
  background-color: transparent;
  color: white;
  font-size: 5vw;
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 10px
}
  .section2{
    height: 40vh;
    padding-top: 0;
    margin: 0;
  }
  .section3{
    height: 40vh;
  }
.section3 h1{
  margin: 0;
}

  .preHeroImg{
}
.preHeroText h1{
  font-size: 6vw;
}
.preHeroText{
  align-items: center;
  justify-self: center;
}
.preHeroLongText h1{
  width: 80%;
  font-size: 5vw;
}
.preHeroLongText p{
  font-size: 3vw;
}
.beginYourJourneyHeading{
  font-size: 9vw;
}
.beginYourJourney{
  gap: 3vh;
}
.ourValuesHeading{
    font-size: 9vw;

}

}
@media (max-width: 760px) {
  .preHeroText p{
    
  }
  .preHeroText h1{
    
  }
  .preHeroSec {

  }
 .navbar{
  border-bottom: 1px solid black;
}


}
 




















.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* This turns white to black */
}





.custom-hover {
  transition: all 0.3s ease;
}

.custom-hover:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
}







.logoAnimation { animation: logoAnimation infinite 2s ease-in-out }
@keyframes logoAnimation{
    50% { transform: translateY(7px) }
}



















